.Temp {
    color: white;
    &__number {
        display: flex;
        align-items: baseline;
        gap: 1rem;
        justify-content: space-between;

        & h2 {
            font-size: 75px;
            font-weight: 300;
        }

        & h3 {
            font-size: 40px;
            font-weight: 300;
        }
    }

    &__wind {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        gap: 1rem;

        margin-top: -1rem;

        & h3 {
            font-size: 40px;
            font-weight: 300;
        }
    }
}